{
	email {$CADDY_ACME_EMAIL}

	servers {
		timeouts {
			read_body 10s
			read_header 10s
			write 10s
			idle 2m
		}

		max_header_size 16384
	}
}

(compression) {
	encode zstd gzip
}

(internal_request) {
	remote_ip 10.10.2.0/24 # Internal Network
}

(allowed_request) {
	import internal_request
	import trusted_request

	expression `client_ip({env.TRUSTED_IPS}.split(","))`
}

(trusted_request) {
	remote_ip `client_ip({env.TRUSTED_IPS}.split(","))`
}

(proxy) {
	header_up X-Real-IP {remote}
	header_down X-Powered-By "The Holy Spirit"
}

(logs) {
	log {
		level DEBUG
		output stdout
		format filter {
			wrap console
			fields {
				request>remote_port delete
				request>headers>Upgrade-Insecure-Requests delete
				user_id delete
			}
		}
	}
}

(error-handler) {
	handle {
		error 404
	}

	handle_errors {
		@body_error header Accept *text/html*
		abort
	}
}

cipp.{$DOMAIN} {
	import logs
	import compression

	@allowed_request {
		import allowed_request
	}

	handle @allowed_request {
		reverse_proxy {$CIPP_ENDPOINT} {
			import proxy
		}
	}

	import error-handler
}
